<html>

<head>
  <title>TweetTastic</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="application.js"></script>
</head>

<body>
  <div id="container">
    <p>Loading tweets...</p>
  </div>
  <div id="loader" style="display: none;">
    <img src="loader.gif" />
  </div>
</body>

</html>
