<h3 id="tweetLoadingTrigger">Loading tweets...</h3>


<script type="text/javascript">
  $(document).ready(function() {
    var fetch = $.ajax({
      type: post,
      url: '/fetch'
    });

    fetch.done(function(response) {
      $('h3').html(response);
    });
  })
</script>
