<html>

<head>
  <title>Tweeter</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="application.js"></script>
</head>

<body>
  
  <form id="tweet_form" action="/tweet" method="post">
    <input type="text" class="input-field" name="tweet_text" />
    <input type="submit" value="Tweet it!" />
  </form>

  <div class="message"></div>

</body>

</html>